<div class="container">
     <div class="text">
        <h1 style="font-weight: bold; 
        font-size: 40px;
        font-family:'Times New Roman', Times, serif;
        color: rgb(106, 23, 183); 
        margin-top: 20px; margin-bottom: 50px;">Tentang Kami</h1>
        <p>
            Nikmati buah-buahan segar berkualitas premium langsung di antar ke pintu Anda, 
            dengan harga yang tetap terjangkau.
            Kami memastikan kualitas terbaik tanpa menguras dompet Anda.
        </p>
        <p>
            Temukan berbagai macam buah-buahan segar dari seluruh dunia, mulai dari yang klasik hingga yang eksotis.
            Kami menyediakan pilihan terbaik untuk memenuhi segala selera dan kebutuhan gizi Anda.
        </p>
        <p>
            Rasakan kenyamanan berbelanja buah-buahan segar dari kenyamanan rumah Anda.
            Dengan toko buah online kami, Anda dapat menelusuri dan memilih buah-buahan favorit Anda dengan mudah, tanpa harus meninggalkan rumah.
        </p>
        <p>
            Dengan layanan pengiriman kami yang cepat dan aman, Anda dapat yakin buah-buahan segar akan sampai dengan selamat dan tepat waktu.
            Kami mengutamakan keamanan dan keintegritasan produk Anda selama proses pengiriman.
        </p>
        <p>
            Nikmati penawaran khusus dan diskon eksklusif untuk pelanggan setia kami.
            Dapatkan harga istimewa untuk buah-buahan segar berkualitas tinggi yang tidak akan Anda temukan di tempat lain.
        </p>
    </div>
    <div class="image">
        <img src="assets/images/anggur.jpeg" alt="Gambar 1">
    </div>
</div>