

<div class="container">
  <div class="main-content">


  <!-- Button Header -->
  <div class="frame">
  <button class="custom-button" routerLink="">My</button>

  <div class="right-content">
  <button class="my-button">Page</button>
  <button class="my-button">Page</button>
  <button class="my-button">Page</button>
  <button class="my-button" routerLink="/about">Tentang</button>
  </div>
</div>



<main>
<router-outlet></router-outlet>
</main>

<footer class="footer-content">
  <div class="footer-container">
    <div class="footer-left">
      <button class="custom-button" routerLink="/about">Mystore</button>

      <div class="logo">
      <img src="assets/images/ig.jpeg" alt="Logo" class="footer-logo">
      <img src="assets/images/wa.jpeg" alt="Logo" class="footer-logo">
      <img src="assets/images/fb.jpeg" alt="Logo" class="footer-logo">
      <img src="assets/images/gps.jpeg" alt="Logo" class="footer-logo">
   </div>
   </div>

    <div class="footer-right">
      <div class="button-grid">
      <button class="my-button">Topik</button>
      <button class="my-button">Topik</button>
      <button class="my-button">Topik</button>
      <button class="my-button">Topik</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    <button class="my-button">page</button>
    </div>
    </div>
  </div>
</footer>



















  


