  

  <div class="container">
    <div class="main-content">

  <!--Gambar sampul-->
  <div class="frame">
    <img src="assets/images/headerjeruk.jpg" class="header-image" 
    class="darkened-image" alt="Header">
    <div class="content">
      <div class="centered-content">

      <!-- Konten sampul -->
      <h1 style="color: white;">Mystore</h1>
      <p class="content-text">Hidup sehat bersama Mystore</p>
      <button class="mybutton" routerLink="/produk">Beli Sekarang</button>
    </div>
  </div>
  
  
  
  
  <!--produk-->
  <div >
    <h2 style="font-family:'Playfair Display', serif;
    font-weight: bold; margin-top: 80px; margin-bottom: 20px; font-size: 30px;" > Aneka Buah </h2>
  </div>
  
  
  <div class="image-frame">
    <div class="image-container">
    <img src="assets/images/alpukat.jpeg" alt="Gambar 1" routerLink="/produk">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Alpukat</h3>
    <p>Punya rasa khusus, cocok untuk jus dan es</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  
  <div class="image-container">
    <img src="assets/images/melon.jpeg" alt="Gambar 2" routerLink="/produk">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Melon</h3>
    <p>Punya rasa manis, cocok untuk jus, salad</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  
    <div class="image-container">
    <img src="assets/images/apel.jpeg" alt="Gambar 3" routerLink="/produk">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Apel</h3>
    <p>Punya rasa manis dan sedikit asam, cocok untuk jus dan salad</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  
    <div class="image-container">
    <img src="assets/images/banana.jpeg" alt="Gambar 4" routerLink="/produk">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Pisang</h3>
    <p>Punya rasa manis dan lembut, cocok untuk salad</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  
    <div class="image-container">
    <img src="assets/images/lemon.jpeg" alt="Gambar 5" routerLink="/produk">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Lemon</h3>
    <p>Punya rasa asam, cocok untuk es dan gula</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  
    <div class="image-container">
    <img src="assets/images/jeruk.jpeg" alt="Gambar 6" routerLink="/produk">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Jeruk</h3>
    <p>Punya rasa manis dan sedikit asam, cocok untuk jus dan es</p>
    <button class="price-button" routerLink="/produk"> 10k/kg</button>
  </div>
  
  
  
  
  
  
  <!--Produk bagian2-->
  <div>
    <h2 style="font-family:'Playfair Display', serif;
    font-weight: bold; margin-top: 60px; margin-bottom: 10px; font-size: 30px;" > Buah Pilihan </h2>
  </div>
  
  
  <div class="flex-container">
    <div class="left">
    <div class="item">
      <img src="assets/images/anggur.jpeg" alt="Gambar 1" routerLink="/produk">
    </div>
    <div class="content-text-left">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Anggur</h3>
    <p>Punya rasa manis, cocok untuk jus dan salad</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  </div>
  
  <div class="right">
    <div class="top-right">
    <div class="item">
      <img src="assets/images/melon.jpeg" alt="Gambar 2" routerLink="/produk">
    </div>
      <div class="content-text-right">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Melon</h3>
    <p>Punya rasa manis, cocok untuk jus, salad</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  </div>
  
    <div class="bottom-right">
    <div class="item">
      <img src="assets/images/apel.jpeg" alt="Gambar 3" routerLink="/produk">
    </div>
      <div class="content-text-right">
    <h3 style="font-weight: bold ; margin-buttom:100px;">Apel</h3>
    <p>Punya rasa manis dan sedikit asam, cocok untuk jus dan salad</p>
    <button class="price-button" routerLink="/produk">10k/kg</button>
  </div>
  </div>
  </div>
  </div>
</div>
    

